################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

GeoXWrapperLib/bin/
GeoXWrapperLib/obj/
GeoXWrapperTest/bin/
GeoXWrapperTest/obj/
.vs/